/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
  

/* Setup */
:root {
    --font-header: 'DM Serif Display', Serif;
    --font-body: 'Montserrat', 'Segoe UI', sans-serif;

    /* --- LIGHT --- */

    /* Colors */
    --bg: rgb(218, 222, 226);
    --bg-lighter: white;
    --bg-lightest: white;
    --bg-transparent: rgba(218, 222, 226, 0.6);
    --bg-transparent-lighter: rgba(182, 182, 182, 0.3);

    /* Accents */
    --border: rgba(128, 128, 128, 0.8);
    --accent: rgb(0, 110, 255);
    --accent-light: hsl(from var(--accent) h s 64%); 

    --text: black;
    --alt-text: rgb(27, 27, 27);
    --link: var(--accent-light);
}
/* DARK */
@media (prefers-color-scheme: dark) {
    :root {
        /* Colors */
        --bg: rgb(26, 31, 33);
        --bg-lighter: rgb(49, 58, 61);
        --bg-lightest: rgb(70, 82, 87);
        --bg-transparent: rgba(20, 20, 20, 0.6);
        --bg-transparent-lighter: rgba(182, 182, 182, 0.3);

        /* Accents */
        --border: rgba(128, 128, 128, 0.8);
        --accent: rgb(0, 110, 255);
        --accent-light: hsl(from var(--accent) h s 64%); 

        --text: white;
        --alt-text: rgb(210, 210, 210);
        --link: var(--accent-light);
    }
}
.theme_dark {
    color: var(--text);

    /* Colors */
    --bg: rgb(26, 31, 33);
    --bg-lighter: rgb(49, 58, 61);
    --bg-transparent: rgba(20, 20, 20, 0.6);
    --bg-transparent-lighter: rgba(182, 182, 182, 0.3);

    /* Accents */
    --border: rgba(128, 128, 128, 0.8);
    --accent: rgb(0, 110, 255);
    --accent-light: hsl(from var(--accent) h s 64%); 

    --text: white;
    --alt-text: rgb(210, 210, 210);
    --link: var(--accent-light);
}

* { box-sizing: border-box; margin: 0; }
body {
    margin: 0;
    font-size: 12pt;
    font-family: var(--font-body);
    font-weight: 250;

    color: var(--text);
    background-color: var(--bg);
}
body.show_menu {
    overflow: hidden;
}
section {
    padding: 60px 20px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-header);
    line-height: 1.05em;
    margin: 15px 0 10px 0;
    font-weight: 500;
}
h2 { font-size: 32pt; border-bottom: 1px solid var(--border); }
h3 { font-size: 24pt; }
h4 { font-size: 18pt; }
h5 { font-size: 14pt; }
h6 { font-size: 12pt; }
strong {
    color: var(--text);
}
a {
    color: var(--link);
    font-weight: 400;
}
hr {
    margin-top: 20px;
    border: none;
    height: 1px;
    background-color: rgb(95, 95, 95);
}
button,
.button {
    display: inline-block;
    font-family: var(--font-body);
    font-size: 13pt;
    font-weight: bold !important;

    color: white;
    padding: 10px 24px 10px !important;
    border: none;
    border-radius: 4px;
    background-color: var(--accent);

    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
}
a.button { text-decoration: none; }
button:hover,
button:focus-visible,
.button:hover,
.button:focus-visible {
    color: black;
    background-color: white;
    box-shadow: 0 3px 24px rgba(0, 110, 255, 0.6);

    z-index: 1;
    /* transform: scale(1.02, 1.02); */

    transition-duration: 0.08s;
}


table {
    border-collapse: collapse;
    margin-bottom: 15px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid red;
}
table th {
    background-color: var(--bg-lighter);
}
table td,
table th {
    border: 1px solid var(--border);
    padding: 4px 6px;
}

/* Shorthand */
.container {
    --container-width: 1200px;

    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 25px;
}
.col {
    width: 100%;
}
.flex { display: flex; }
.alt_text { color: var(--alt-text); }

/* Backdrop */
#backdrop {
    background-color: rgba(24, 25, 26, 0.9);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    position: fixed;
    top:0;right:0;bottom:0;left:0;
    z-index: 9;
    display: none;
}
body.show_menu #backdrop { display: unset; }

/* Nav */
#nav {
    top: 0; left: 0; right: 0;
    position: fixed;
    z-index: 10;

    background-color: transparent;
    border-bottom: 1px solid transparent;
    padding: 20px 15px;

    transition-property: background-color, border-color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}
#nav.nav_opaque,
body.show_menu #nav {
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    background-color: var(--bg-transparent);
    border-color: var(--border);
}
body.show_menu #nav { -webkit-backdrop-filter: unset; backdrop-filter: unset; background-color: transparent; border-color: transparent; }
#nav .nav_list {
    display: flex;
}
#logo {
    font-family: var(--font-header);
    margin-top: -12px;
    font-size:20pt;
    margin-right: 20px;
    text-decoration: none !important;
    border-color: transparent !important;
}
#nav a:not(.button) {
    display: block;
    position: relative;

    color: var(--alt-text);
    text-decoration: none;
    font-weight: 450;
    line-height: 250%;

    /* opacity: 0.7; */
    padding: 0px 14px;
    border-bottom: 1px solid transparent;
    height: 36px;
}
#nav a:not(.button):hover,
#nav a:not(.button):focus-visible {
    color: var(--text);
    /* text-decoration: underline; */
    border-color: var(--border);
    outline: none;
}
.nav_list a::before {
    content: "";
    position: absolute;
    left: 50%; top: -8px;
    transform: translateX(-50%) scaleY(0.6);
    z-index: -1;
    opacity: 0;
    pointer-events: none;

    width: 100%;
    height: 70px;
    background: radial-gradient(ellipse at center, var(--accent-light) 0%, rgba(32, 128, 255, 0.25) 50%, transparent 70%);

    transition: opacity, 0.5s ease;
}
.nav_list a:hover::before,
.nav_list a:focus-visible::before {
    opacity: 0.2;
    transition: opacity, 0.2s ease;
}
#nav #cta {
    margin-left: auto;
}
#nav #menu_button {
    box-sizing: content-box;
    width: 30px;
    padding-right: 12px;
    border-right: 1px solid var(--border);
    /* position: absolute; */
    cursor: pointer;

    display: none;
}


/* Main */
#main {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.83) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.6) 100%),
        url(./assets/images/budgie-2201256_1280_edit.jpg);
    background-position-x: center;
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    will-change: background-position-y;
}
.main_inner {
    --container-width: 1264px;
    /* background-color: rgb(62, 75, 40); */

    align-items: center;
    min-height: 85vh;
    padding-bottom: 70px;
}
.main_inner > .col {
    padding: 100px 32px;
    height: fit-content;
}
/* About */
#about {
    /* background: rgba(0, 0, 0, 0.4); */
    /* -webkit-backdrop-filter: blur(25px); */
    /* backdrop-filter: blur(25px); */
    /* border-radius: 10px; */
    /* border: 1px solid rgb(144, 151, 255); */
    /* box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.6); */

    width: 2000px; /* Flexbox weirdness, maybe don't leave at 2000px */
    padding-right: 30px;
    overflow: hidden;
}
#about .blurb {
    /* background: linear-gradient(45deg, rgba(3, 20, 43, 0.5) 0%, rgba(9, 46, 20, 0.5) 100%); */
    background-color: var(--bg-transparent-lighter);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    border-radius: 10px;
    border: 1px solid var(--border);
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.4);

    font-size: 12.5pt;

    padding: 16px 22px;
    z-index: 1;
}
.text_shadow {
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
}
h1.main_title {
    font-size: 60pt;
    /* margin-bottom: 20px; */
    margin-bottom: 5px;
    z-index: 2;
    position: relative;


    /* --shadow: rgba(0, 0, 0, 0.3);
    text-shadow:
        1px 1px 0 var(--shadow),
        2px 2px 0 var(--shadow),
        3px 3px 0 var(--shadow),
        4px 4px 0 var(--shadow),
        5px 5px 0 var(--shadow); */
}
/* Socials */
#socials {
    margin-top: 25px;
    display: flex;
}
.social_item {
    width: 100%;

    text-decoration: none;
    color: var(--alt-text);
    font-weight: 400;
}
.social_item:not(:last-of-type) { margin-right: 15px; }
.social_item > div {
    display: flex;
    align-items: center;
    padding: 8px 12px;

    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border: 1px solid var(--border);
    border-radius: 10px;
    transition: 0.2s ease;
}
.social_item:hover > div,
.social_item:focus-visible > div {
    color: var(--text);
    background-color: var(--bg-transparent-lighter);
    border-color: white;
    transition-duration: 0.1s;
}
.social_item img {
    height: 32px; width: 32px;
    margin-right: 15px;
}

*:target {
    z-index: 8;
    border-radius: 10px;
    animation: 6s target_focus forwards cubic-bezier(0.075, 0.82, 0.165, 1);
}
@keyframes target_focus {
    from {
        box-shadow: inset 0 0 20px var(--accent);
        outline: 4px solid var(--accent);
    }
    to {
        box-shadow: inset 0 0 20px transparent;
        outline: 4px solid transparent;
    }
}

/* FB */
/* #schedule {
    background-color: rgb(104, 27, 27);
} */

.fb-page {
    min-height: 600px;
    max-width: 100%;
    width: 100%;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.6);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    overflow: hidden;
}
.fb-page > span {
    display: block;
    margin: 0 auto;
}


/* Events */
.icon {
    display: inline-block;
    width: 20px; height: 20px;
    min-width: 20px; 
    margin-right: 10px;
    vertical-align: bottom;
}
.events_wrapper {
    /* outline: 2px solid white; */

    /* margin-top: -90px; */
    overflow-x: auto;
    /* min-height: 400px; */

    -ms-overflow-style: none; scrollbar-width: none;
}
.events_wrapper::-webkit-scrollbar { display: none; }
#events {
    /* outline: 2px solid brown; */
    margin-bottom: 35px;
}
.events_inner {
    /* outline: 2px solid rgb(61, 61, 235); */

    width: 100%;
    max-width: 300px;
    display: flex;
}
#events .spacer {
    white-space: pre;
    min-width: 20vw;
}
#events .item {
    --image: url(./assets/images/banner.jpg);
    flex: 1 0 100%;

    margin-right: 15px;
    padding: 15px;
    padding-top: 80px;

    /* background-color: var(--bg-lighter); */
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.4) 0%, var(--bg-lighter) 40%),
        var(--image);
    background-size: contain;
    background-position: top center;

    border-radius: 5px;
    /* border: 1px solid var(--border); */
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
}
#events .item:last-of-type { margin-right: 200px; }
#events .item > * {
    margin-bottom: 5px;
}
#events .item > strong {
    font-size: 1.1rem;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--border);
}
#events .item > a {
    margin: 5px 0 0 0;
    padding: 5px 0;
    width: 100%;
    /* border: 1px solid var(--border); */
    border-radius: 5px;
}
#events .item > a:hover,
#events .item > a:focus-visible {
    background-color: var(--bg-lightest);
}



/* Footer */
#footer {
    background-color: var(--bg);
    padding: 40px 0;
    border-top: 1px solid var(--border);
    /* background-color: rgba(255, 255, 255, 0.04); */
}
#footer a {
    margin: 5px 0;
}


/* Collapsed Navigation */

@media screen and (max-width: 670px) {
    /* Nav */
    /* body.show_menu #nav { } */
    #nav #menu_button {
        display: unset;
    }
    #nav .nav_list {
        flex-direction: column;
        display: none !important;

        position: absolute;
        top: 100px;
        right: 0;
        left: 0;
        margin: 0 20px;

        /* background-color: rgb(75, 75, 75); */
        padding: 10px;
        border-radius: 5px;
    }
    #nav .nav_list a {
        height: unset;
        line-height: unset;
        padding: 15px 14px;
    }
    body.show_menu #nav .nav_list { display: unset !important; }
}

/* Mobile layout */
@media screen and (max-width: 900px) {
    .mobile_column { flex-direction: column; }
    .mobile_column .col {
        margin-bottom: 20px;
    }




    /* Main */
    #main {
        padding-top: 120px;
    }
    .main_inner {
        min-height: unset;
    }
    #main .col {
        width: 100%;
        padding: 0;
    }
    /* About */
    #socials .social_item { margin-bottom: 15px; }
}

/* Extra small */
@media screen and (max-width: 400px) {
    h1.main_title {
        font-size: 54pt;
    }
}
