/* Setup */
:root {
    --font-body: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-header: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    /* --bg: white;

    --text: black;
    --alt-text: gray;
    --link: green; */
}

* { box-sizing: border-box; }
body {
    margin: 0;
    font-size: 13pt;
    font-family: var(--font-body);

    color: white;
    background-color: #24263b;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-header);
}
button {
    font-family: var(--font-body);
    font-size: 13pt;
    padding: 4px 16px;
    border: none;
    background-color: transparent;
    position: relative;
}
button::before {
    content: "";
    position: absolute;
    background-color: rgb(245, 188, 0);
    top:0;right:0;bottom:0;left:0;
    z-index: -1;
    transform: skew(-8deg);
}
button:hover, button:focus-visible {
    z-index: 1;
    /* transform: scale(1.05, 1.05); */
}

/* Shorthand */
.container {
    max-width: 1000px;
    margin: 0 auto;
}
.flex { display: flex; }
.alt_text { color: var(--alt-text); }


/* Nav */
#nav {

}
